<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <div class="alert alert-info" style="margin-left:-10px;margin-right:10px;">
    <h3 style="text-align:center;"><%= t(:no_products_found) %></h3>
  </div>
<% end %>
<% if products.any? %>
  <div id="products" style="margin-bottom: 20px;"data-hook>
    <% products.each do |product| %>
      <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
        <div class="row">
          <%= form_for :order, :url => populate_orders_url do |f| %>
          <div class="span1">
            <% if product.show_in_offert == true %>
              <%= link_to offertmark_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
            <% elsif product.created_at > (Date.today - 4.day) %>
              <%= link_to newmark_image(product, :itemprop => "image"), product, :itemprop => 'url' %>
            <% else %>
              <%= link_to small_image(product, :itemprop => "image"), product, :itemprop => 'url' %>  
            <% end %>
          </div>
          <div class="span1">
            <h6><%= product.taxons.last.name %></h6>
            <div class="row">
              <div class="span1">
                <h4 style="color:red; padding-top:10px;"><%= product.price_in(current_currency).display_price %></h4>
              </div>
            </div>
          </div>
          <div class="span6">
            <h4 style="text-align:right;"><%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %></h4>
            <div class="row">
              <div class="span3">
                <div class="row">
                  <div class="span2">
                    <h4 style="padding-top:4px;" ><%= product.calculate_tires %></h4>
                    <%= hidden_field_tag (product.has_variants? ? :quantity : "variants[#{product.master.id}]"), 1, :in => 1..product.on_hand %>
                  </div>
                  <div class="span1">
                    <% unless product.is_moto? %>
                      <%= link_to "#", "data-original-title" => "#{product.name}", "data-content" => "#{ceelabel_image(product)}", :id => "example" do %>
                        <%= image_tag "etiqueta.png" %>
                        <%= product.master.tire_fuel_consumption.name %>
                        <%= product.master.tire_wet_grip.name %>
                        <%= product.master.tire_rolling_noise_wave %>
                        <%= product.master.tire_rolling_noise_db %>
                      <% end %>
                    <% end -%>
                  </div>
                </div>
              </div>
              <div class="span3">
                <%= button_tag :class => 'btn btn-primary btn-small', :id => 'add-to-cart-button', :type => :submit do %>
                  <i class="icon-shopping-cart icon-white"></i>
                  <%= t(:add_to_cart) %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <hr style="background-color:#888a85;height:2px;width:600px;">
      <% end %>
    <% end %>
  </div>
<% end -%>


<% if paginated_products.respond_to?(:num_pages) %>
  <div class="pagination">
    <%= paginate paginated_products %>
  </div>
<% end %>
